*{
    margin: 0;
    padding: 0;
}
body{
    background: url(../images/sportscar_car_white_150286_1280x800.jpg);background-repeat: no-repeat;background-size: cover;background-attachment: fixed;
}

.nav{
    display: flex;
    position: absolute;
    top: 0;
    z-index: 10;
}

.List-Items > ul > li  {
    list-style: none;
    float: left;
    margin: 22px 2px;
    padding: 9px 10px;
    font-size: 20px;
    
}
.List-Items > ul > li > a:hover {
    background-color: white;
    border-radius: 5px;
    color: black;
    transition: 0.4s all ;
}
.logo img{
    margin: 25px 28px;
    width: 73px;
}

.List-Items  li  a{
    color: white;
    text-decoration: none;
    padding: 7px 12px;
  
}
.subnav{
  margin-top: 8%;
}
.subnav > li{
    list-style: none;
    margin-top: 2px;
    border-radius: 2px;
    padding: 10px 15px;
    font-size: 17px;
    position: relative;
    z-index: 2;
}  

.subnav li:hover{
    background-color: white ;
    transition: all .4s;
    border: none;
    border-radius: 5px;
    z-index: 2;
}
.subnav li:hover i{
    color: black;
}
.subnav li:hover > a{
    color: black;
}
.subnav > li > a{
    color: white;
    text-decoration: none;

}
.subnav{
    display: none;
}
.subnavli:hover > ul{
    display: block;
}
i{
    margin-left: 10px;
    color: white;
}
/* Nav-bar Css Ends Here */
/* Slider Css Starts here */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* slider css Ends Here */
.section .box{
    color: white;
    border-radius: 3px;
    height: 68vh;
    padding: 5px 12px;
    margin-top: 22px;
    width: 22%;
    text-align: justify;
    margin-right: 9%;
    margin-left: 3%;
}
.section{
      position: absolute;
      top: 70%;
      left: 2%;
      display: flex;
  }
.box img{
    width: 269px;
    margin-left: -9px;
    border-radius: 4px;
    margin-bottom: 6px;
    border: 1px solid black;
}

.section .box button{
    width: 90px;
    background:none;
    color:white;
    border: 1px solid white;
    margin-left: 160px;
    padding: 5px;
    margin-top: 10px;
    border-radius: 3px;
}
.box button:hover{
    background-color: white;
    color: black;
    transition: 0.4s all;
 }
 .footer{
     width: 100%;
     height: 9vh;
     background-color: black;

 }
.footer .copyright{
    color: white;
    font-size: 16px;
    margin-top: 40%;
    margin-left: 38%;
    padding-top: 22px;
}
